VITE_CORE_API_BASE_URL=http://localhost:8002/api/v1
VITE_CODE_EXECUTION_API_BASE_URL=http://localhost:8003/api/v1
VITE_CODE_EVALUATION_API_BASE_URL=http://localhost:8004/api/v1

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=